.table td {
   text-align: center;   
 }

.table tb-indice {
   width: 1%;   
 }

.table tb-col-5perc {
   width: 5%;   
}

.table tb-col-10perc {
   width: 10%;   
}

.table tb-col-20perc {
   width: 20%;   
}
.table tb-col-50perc {
   width: 50%;   
}